<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>简书</title>
    
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    
    
</head>
<body>
    <!--1.头部导航-->
    <div id="app" v-cloak>
      
     <header id="header">
        <div class="header">
            <div class="left">
                <img src="img/log.png">
            </div>
            <div class="middle">
                <a id="sy" href="home.html">首页</a>
                <a id="App" href="">下载APP</a>
                <input type="text" data-target="#content1" placeholder="搜索" >  <!--data-target为自定义属性-->    
                <img src="img/sreach.png">
                <div class="ssk">
                    <div class="xsj"></div> 
                    <div class="ssk1"  id="content">      <!--id为连接锚点-->
                        <ul class="ul">
                            <li id="rm">热门搜索</li>
                            <li class="huan">
                                <a href="#" class="rem1">
                                    <img src="img/rotate.png" class="rem2" alt="">
                                    <!--<span><span class="glyphicon glyphicon-refresh"></span></span>-->
                                    换一批
                                </a>
                            </li>
                        </ul>
                        <ul class="ul ul2">    
                            <li><a href="#" class="rem1">区块链</a></li>
                            <li><a href="#" class="rem1">小程序</a></li>
                            <li class="PHP" ><a class="rem1" href="">PHP</a></li>
                            <li><a href="#" class="rem1">毕业</a></li>
                            <li><a href="#" class="rem1">故事</a></li>
                            <li class="PHP"><a href="" class="rem1">理财</a></li>
                            <li><a href="#" class="rem1">美食</a></li>
                            <li><a href="#" class="rem1">书法</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right">
                <a id="Aa" href=""><b>Aa</b></a>
                <div v-if="islogin" class="ca-btn">
                    <a :href="signin">登录</a>
                    <a id="zc" href="#">注册</a>
                </div>
                <div v-else class="ca-btn">
                    <a href="#"><span id="uname">welcome {{uname}}</span></a>
                </div>
                   
               
                <a id="xwz" href="#">写文章</a>
                <div  class="Aa">
                    <div>
                        <img src="img/night.png" alt="">
                        夜间模式
                        <a class="kLeft" id="k" href="#">开</a>
                        <a class="gRight" id="g" href="#">关</a>
                    </div>
                    <div id="Aast">
                        <a class="kLeft" id="st" href="#">宋体</a>
                        <a class="gRight" id="ht" href="#">黑体</a>
                    </div>
                    <div id="Aafj">
                        <a class="kLeft" id="j" href="#">简</a>
                        <a class="gRight" id="f" href="#">繁</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
        <!--2.文章主体内容-->
        <div class="note"  >
            <!--右边图片-->
            <a href="#" class="web-note">
                <span class="close">x</span>
            </a>
            <!--中间文章-->
            <div class="post">
                <div id="mainarticle">
                <div class="article">
                
                    <h1 class="title">{{res.title}}</h1>
                    <!--作者区域-->
                    <div class="author">
                    <a href="#"  class="author-img"><img :src="res.authorImg" ></a>
                    <div class="author-info">
                        <span class="name"><a href="#">{{res.author}}</a></span>
                        <img src="img\1962768d-ea32-4414-8d4f-88ece3923534.jpg" class="author-icon">
                        <div class="tooltip-inner">视觉达人</div>
                        
                        
                        <a href="login.html" class="author-notice" >+关注</a>
                        <!--文章数据信息-->
                        <div class="meta">
                            <span class="counts">{{res.dates}}</span>
                            <span class="counts">{{res.counts}}</span>
                            
                        </div>
                    </div>
                    </div>
                    <!--文章内容-->
                    <div class="show-content">
                        <p>{{res.content1}}</p>
                        
                        <div class="img-view">
                            <img :src="res.img1"  >
                            
                        </div>
                        <p>{{res.content2}}</p>
                        <div class="img-view">
                            <img :src="res.img2"  >
                            
                        </div>
                        
                        <p>{{res.content3}}></p>
                        <div class="img-view">
                            <img :src="res.img3"  >
                        
                        </div>
                        
                        <p>{{res.content4}}</p>
                        <div class="img-view">
                            <img :src="res.img4"  >
                        
                        </div>
                        
                        <p>{{res.content5}}</p>
                        <div class="img-view">
                            <img :src="res.img5"  >
                            
                        </div>
                        <p>{{res.content6}}</p>
                    </div>
                </div>
                </div>
                <!--打赏作者-->
                <div class="support-author">
                    <p>小礼物走一走，来简书关注我</p>
                    <div class="suport-btn"><a href="#">赞赏支持</a></div>
                    <div class="support">
                        <ul class="support-list ">
                            <li><a href="#"><img src="img\e9aa3003-688a-4446-a3f9-5496372a0936.jpg"></a></li>
                            <li><a href="#"><img src="img\631ee36d-fa64-4717-b0c5-a5313e426d90.jpg"></a></li>
                            <li><a href="#"><img src="img\605fa7e8-0eec-4fed-a41f-1ecb72397f19.jpg"></a></li>
                            <li><a href="#"><img src="img\49c8c614-08db-454d-982e-73d05c2159da.jpg"></a></li>
                            <li><a href="#"><img src="img\9-cceda3cf5072bcdd77e8ca4f21c40998.jpg"></a></li>
                            <li><a href="#"><img src="img\e9c5faf7-ca16-4710-b530-ee7b43fe5f94.jpg"></a></li>
                            <li><a href="#"><img src="img\915b3402-3b2b-4d9d-a9dc-a3db995135ed.jpg"></a></li>
                            <li><a href="#" class="img-inline">等70人</a></li>
                        </ul>
                    </div>
                </div>
                <div class="support-bottom">
                    <a href="#"><img src="img\_20181014122143.png" ></a>
                    <a href="#" class="self">作者专属</a>
                    <a href="#" class="report-modal">举报文章</a>
                    <span class="copyright">© 著作权归作者所有</span>
                </div>
                
                <!--文章底部作者信息-->
                <div class="follow-details">
                    <div class="author-info .clearfix">
                    <a href="#"  class="author-img"><img :src="res.authorImg" ></a>
                        
                    <span class="name"><a href="#">{{res.author}}</a></span>
                    <img src="img\1962768d-ea32-4414-8d4f-88ece3923534.jpg" class="author-icon">
                    <a href="#" class="author-notice">+关注</a>
                    
                    <!--文章数据信息-->
                    
                    
                    </div>
                    <div class="author-details">
                        {{res.authorInfo}}
                    </div>
                </div>
                <div class="meta-bottom clearfix">
                    <div class="like">
                        <a href="#">
                            <img src="img\xinixn.png">
                            <span>喜欢</span> 
                            <span>|</span>
                            <span>8705</span>
                        </a>
                    </div>
                    <div class="sharing">
                        <a href="#" class="sharing-hide"><img src="img\weixin.png" ></a>
                        <div class="tooltip tooltip-weixin">分享到微信</div>
                        <a href="#" class="sharing-hide"><img src="img\weibo.png" ></a>
                        <div class="tooltip tooltip-weibo">分享到微博</div>
                        <a href="#" class="sharing-hide"><img src="img\tupian.png" ></a>
                        <div class="tooltip tooltip-img"><img src="img/erweima.png"><span>下载app生成长微博图片</span></div>
                        <a href="#" class="share-txt">更多分享</a>
                        <ul class="dropdown">
                            <li><a href="#"><img src="img/qq1.png" ></a>分享到QQ空间</li>
                            <li><a href="#"><img src="img/tw.png" ></a>分享到Twitter</li>
                            <li><a href="#"><img src="img/facebook.png" ></a>分享到Facebook</li>
                            <li><a href="#"><img src="img/goole.png" ></a>分享到Google+</li>
                            <li><a href="#"><img src="img/douban.png" ></a>分享到豆瓣</li>
                        </ul>
                    </div>
                </div>
                <!--底部图片-->
                <a href="#" id="web-note"><img src="img\web-note-ad-1-c2e1746859dbf03abe49248893c9bea4.png"></a>
                <!--评论信息-->
                <div class="comment-list">
                    <!--列表标题-->
                    <div class="list-title">
                        <a href="#"><img src="img\touxaing.png" ></a>
                        <div class="list-login">
                            <a href="#">登录</a>
                            <span class="listtitle-txt">后发表评论</span>
                        </div>
                    </div>
                    <!--列表详情-->
                    <div class="list-info">
                        <!--评论标题-->
                        <div class="comment-counts">
                            <span>评论</span>
                            <a href="#" class="only-author">只看作者</a>
                            <div class="right-times">
                                <a href="#" class="active" @click.prevent="getMore()">更多评论</a>
                            </div>
                        </div>
                        <!--评论详情-->
                        <div id="comment-first" class="comment" v-for="(item,i) in list" :key="item.id">
                            <div class="comment-author">
                            <a href="#" class="comment-author-img"><img :src="list[i].img"></a>  
                            <div class="comment-author-info">
                                <a href="#" class="list-name">{{list[i].user}}</a>
                                <span class="list-meta">1088楼 {{list[i].ctime}}</span>
                            </div>
                            </div>
                            <div class="comment-txt">
                                <p id="comment-txt-wrap">{{list[i].content}}</p>
                                <div class="comment-tools">
                                <a href="#"><img src="img/dianzan.png"><span class="dianzan-txt">赞</span></a>
                                <a href="#"><img src="img/pinglun.png" ><span class="dianzan-txt">回复</span></img></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        
        </div>
    <!--3.其他文章列表-->
        <div class="note-bottom">
            <!--专题-->
            <div class="bottom-main">
                <div>
                <div class="bottom-title">被以下专题收入，发现更多相似内容</div>
                <div class="section-list">
                    <a href="#" class="list-title"><img src="img\01.jpeg"><span class="bot-sec-txt">旅行</span></a>
                    <a href="#" class="list-title"><img src="img\02.jpg"><span class="bot-sec-txt">今日看点</span></a>
                    <a href="#" class="list-title"><img src="img\03.jpg"><span class="bot-sec-txt">摄影</span></a>
                    <a href="#" class="list-title"><img src="img\04.jpg"><span class="bot-sec-txt">旅行 · 在路上</span></a>
                    <a href="#" class="list-title"><img src="img\05.jpeg"><span class="bot-sec-txt">文心会友</span></a>
                    <a href="#" class="list-title"><img src="img\06.jpeg"><span class="bot-sec-txt">旅行的秘密</span></a>
                    <a href="#" class="list-title"><img src="img\07.jpg"><span class="bot-sec-txt">青春</span></a>
                </div> 
                </div>
                <!--文章列表-->
                <div class="bottom-artical">
                    <div class="artical-item">
                        <span class="article-title">推荐阅读</span>
                        <a href="#" class="item-right">更多精彩内容 ></a>
                    </div>
                    <div class="article-list">
                        <div class="first-list">
                            <a class="article-list-title">其实你没资格抱怨</a>
                            <a href="#" class="list-img"><img src="img/09.jpeg"></a>
                            <p class="list-details">曾经的同学，也许不如我们，可是，经过初中，高中，大学，在这三年与三年的差距，四年与五年的时间中，别人开始而我们却还没有迈步!这就是悲剧！梦想...</p>
                            <a href="#" class="list-details-img"><img src="img/08.jpg"><span class="list-txt">新龙门客栈</span></a>
                            
                        </div>
                        <div class="first-list">
                            <a class="article-list-title">自从你来到我身边</a>
                            <a href="#" class="list-img"><img src="img/11.jpg"></a>
                            <p class="list-details">自从你来到我身边生命中再也没有了孤单每个日子都变得那么甜 总想偷偷哼支歌放飞青春的自我顺便把心事诉说 有你，就有春天蝶儿蹁跹，繁花朵朵爱的画...</p>
                            <a href="#" class="list-details-img"><img src="img/12.png"><span class="list-txt">回眸一笑笑</span></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>
    <script src="js/jquery-1.11.3.js"></script>
    <script src="js/head.js"></script>
    <script src="js/index.js"></script>
    
    <script>
        $("span.close").on("click",function(){
           
            $(this).parent().remove();
        })
        $(".author-icon").mouseover(function(){
           $(this).next().show();
        
        });
        $(".author-icon").mouseout(function(){
            $(this).next().hide();
                
        });
        $(".sharing-hide").mouseover(function(){
            $(this).next().show();
        });
        $(".sharing-hide").mouseout(function(){
            $(this).next().hide();
        });
        $(".share-txt").on("click",function(e){
            e.preventDefault();
            var $btn=$(this);
            var $dropdown=$btn.next();
            if($dropdown.is(":hidden"))
            $dropdown.show();
            else
            $dropdown.hide();
        })
       
    </script>
	
	
</body>


</html>